h1 {font-family: 'Ubuntu', sans-serif;}
nav {font-family: 'Ubuntu', sans-serif;}
button {font-family: 'Ubuntu', sans-serif;}
h3 {font-family: 'Ubuntu', sans-serif;}
p {font-family: 'Ubuntu', sans-serif;}
p1 {font-family: 'Ubuntu', sans-serif;}


.carousel-inner{
     height: 300px;
     width: 400px;
}

